root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
csharp_space_around_declaration_statements = ignore

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = silent
